.col-md-12
  = simple_form_for @form, url: contest_enrollment_form_enrollments_path do |f|
    .row
      .col-md-12
        = f.input :digital_rg
    %hr/
    .row
      .col-md-12
        = button_tag(class: "btn btn-lime btn-small" ) do 
          %span.gradient
            Realizar Inscrição 
        = link_to "<span class='gradient'>Voltar</span>".html_safe, contest_root_path, class: 'btn btn-default btn-small'
  