.row
  .col-md-2
    %h4
      %strong RG
    = link_to "Baixar Arquivo", @candidate.form.digital_rg
  .col-md-2
    %h4
      %strong Título de eleitor
    = link_to "Baixar Arquivo", @candidate.form.digital_voter
  .col-md-3
    %h4
      %strong Comprovante de votação
    = link_to "Baixar Arquivo", @candidate.form.digital_check_voter