.row
  .col-md-12
    %p.bs-component
      %h2
        %b Inscrições Abertas
%hr/
.row
  .col-md-12
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th #
          %th Concurso
          %th Inscrição
          %th Data
          %th Ações
      %tbody
        - @enrollments.each_with_index do |enrollment, i|
          %tr
            %td= i + 1
            %td= enrollment
