.widget-container.boxed
  %h3.widget-title Inscrições Abertas
  .inner
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th #
          %th Concurso
          %th Inscrição
          %th Data
          %th Ações
      %tbody
        - @enrollments.each_with_index do |enrollment, i|
          %tr
            %td= i + 1
            %td= enrollment.project.name
            %td= enrollment.name
            %td
            %td
              = link_to "Participar", new_contest_enrollment_form_enrollment_path(enrollment)