/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require lib/bootstrap-reset.min
 *= require lib/bootstrap.min
 *= require lib/font-awesome.min
 *= require lib/session
 *= require redactor-rails
  */
  .navbar-default{ border-color: #127BA3!important;   background-color: #343434; color: white;}
  .navbar-default .navbar-nav>li>a {color: white;}
  .navbar-default .navbar-nav>li>a:hover {color: white;}
  .navbar-default .navbar-nav>li>a:focus {color: white;}
  .navbar-brand:hover, .navbar-brand:focus { color: white !important;}
  .navbar-default .navbar-nav>.open>a, .navbar-default 
  .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {color: white;} 
  
  .navbar-default .navbar-brand {color: #FFFFFF;}
  .navbar-default .navbar-brand a:hover {color: #FFFFFF !important;}
  
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus { color: #FFFFFF}
  
  .panel-default>.panel-heading {
    color: #E2E2E2;
    background-color: #343434;
    border-color: transparent;
  }
