/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require lib/bootstrap.min
 *= require metro-vibes/style
 *= require nprogress-style
 */

.alert-danger {
  background-color: #BC5454;
  border-color: #BC5454;
  color: #ffffff;
  font-weight: bold;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error 
.radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, 
.has-error.radio-inline label, .has-error.checkbox-inline label, .has-error .form-control-feedback {
  color: #BC5454 !important;
}

.has-error .form-control, .has-error .form-control:focus {
  border: 1px solid #BC5454;
  -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,0.075);
  box-shadow: inset 0 2px 0 rgba(0,0,0,0.075);
}