

.row
  .col-md-12
    %h3 
      %b Formulário de inscrição concurso nova Marca Codhab
%hr/
.row
  .col-md-12
    = simple_form_for @code_enrollment, url: contest_enrollment_code_enrollments_path do |f|
      .row
        .col-md-2
          = f.input :name
      .row
        .col-md-12
          = f.button :submit, class: 'btn btn-success'
